
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />
    <title>fldatamigration.fl.datamigration.nwb.components.electrodes.electrode_extension_injector &#8212; fldatamigration 0.1.004 documentation</title>
    <link rel="stylesheet" href="../../../../../../../../_static/alabaster.css" type="text/css" />
    <link rel="stylesheet" href="../../../../../../../../_static/pygments.css" type="text/css" />
    <script id="documentation_options" data-url_root="../../../../../../../../" src="../../../../../../../../_static/documentation_options.js"></script>
    <script src="../../../../../../../../_static/jquery.js"></script>
    <script src="../../../../../../../../_static/underscore.js"></script>
    <script src="../../../../../../../../_static/doctools.js"></script>
    <script src="../../../../../../../../_static/language_data.js"></script>
    <link rel="index" title="Index" href="../../../../../../../../genindex.html" />
    <link rel="search" title="Search" href="../../../../../../../../search.html" />
   
  <link rel="stylesheet" href="../../../../../../../../_static/custom.css" type="text/css" />
  
  
  <meta name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=0.9" />

  </head><body>
  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          

          <div class="body" role="main">
            
  <div class="section" id="module-fldatamigration.fl.datamigration.nwb.components.electrodes.electrode_extension_injector">
<span id="fldatamigration-fl-datamigration-nwb-components-electrodes-electrode-extension-injector"></span><h1><a class="reference internal" href="#module-fldatamigration.fl.datamigration.nwb.components.electrodes.electrode_extension_injector" title="fldatamigration.fl.datamigration.nwb.components.electrodes.electrode_extension_injector"><code class="xref py py-mod docutils literal notranslate"><span class="pre">fldatamigration.fl.datamigration.nwb.components.electrodes.electrode_extension_injector</span></code></a><a class="headerlink" href="#module-fldatamigration.fl.datamigration.nwb.components.electrodes.electrode_extension_injector" title="Permalink to this headline">¶</a></h1>
<div class="section" id="module-contents">
<h2>Module Contents<a class="headerlink" href="#module-contents" title="Permalink to this headline">¶</a></h2>
<dl class="data">
<dt id="fldatamigration.fl.datamigration.nwb.components.electrodes.electrode_extension_injector.path">
<code class="sig-name descname">path</code><a class="headerlink" href="#fldatamigration.fl.datamigration.nwb.components.electrodes.electrode_extension_injector.path" title="Permalink to this definition">¶</a></dt>
<dd></dd></dl>

<dl class="data">
<dt id="fldatamigration.fl.datamigration.nwb.components.electrodes.electrode_extension_injector.logger">
<code class="sig-name descname">logger</code><a class="headerlink" href="#fldatamigration.fl.datamigration.nwb.components.electrodes.electrode_extension_injector.logger" title="Permalink to this definition">¶</a></dt>
<dd></dd></dl>

<dl class="class">
<dt id="fldatamigration.fl.datamigration.nwb.components.electrodes.electrode_extension_injector.ElectrodeExtensionInjector">
<em class="property">class </em><code class="sig-name descname">ElectrodeExtensionInjector</code><a class="headerlink" href="#fldatamigration.fl.datamigration.nwb.components.electrodes.electrode_extension_injector.ElectrodeExtensionInjector" title="Permalink to this definition">¶</a></dt>
<dd><dl class="method">
<dt id="fldatamigration.fl.datamigration.nwb.components.electrodes.electrode_extension_injector.ElectrodeExtensionInjector.inject_extensions">
<code class="sig-name descname">inject_extensions</code><span class="sig-paren">(</span><em class="sig-param">self</em>, <em class="sig-param">nwb_content</em>, <em class="sig-param">metadata_extension</em>, <em class="sig-param">header_extension</em>, <em class="sig-param">ntrodes_extension</em><span class="sig-paren">)</span><a class="headerlink" href="#fldatamigration.fl.datamigration.nwb.components.electrodes.electrode_extension_injector.ElectrodeExtensionInjector.inject_extensions" title="Permalink to this definition">¶</a></dt>
<dd></dd></dl>

<dl class="method">
<dt id="fldatamigration.fl.datamigration.nwb.components.electrodes.electrode_extension_injector.ElectrodeExtensionInjector.__check_extension_length">
<em class="property">static </em><code class="sig-name descname">__check_extension_length</code><span class="sig-paren">(</span><em class="sig-param">*args</em><span class="sig-paren">)</span><a class="headerlink" href="#fldatamigration.fl.datamigration.nwb.components.electrodes.electrode_extension_injector.ElectrodeExtensionInjector.__check_extension_length" title="Permalink to this definition">¶</a></dt>
<dd></dd></dl>

<dl class="method">
<dt id="fldatamigration.fl.datamigration.nwb.components.electrodes.electrode_extension_injector.ElectrodeExtensionInjector.__adjust_extension_length">
<em class="property">static </em><code class="sig-name descname">__adjust_extension_length</code><span class="sig-paren">(</span><em class="sig-param">rel_x</em>, <em class="sig-param">extension</em>, <em class="sig-param">msg</em><span class="sig-paren">)</span><a class="headerlink" href="#fldatamigration.fl.datamigration.nwb.components.electrodes.electrode_extension_injector.ElectrodeExtensionInjector.__adjust_extension_length" title="Permalink to this definition">¶</a></dt>
<dd></dd></dl>

<dl class="method">
<dt id="fldatamigration.fl.datamigration.nwb.components.electrodes.electrode_extension_injector.ElectrodeExtensionInjector.__join_extensions_to_electrodes">
<em class="property">static </em><code class="sig-name descname">__join_extensions_to_electrodes</code><span class="sig-paren">(</span><em class="sig-param">metadata_extension</em>, <em class="sig-param">header_extension</em>, <em class="sig-param">ntrodes_extension</em>, <em class="sig-param">nwb_content</em><span class="sig-paren">)</span><a class="headerlink" href="#fldatamigration.fl.datamigration.nwb.components.electrodes.electrode_extension_injector.ElectrodeExtensionInjector.__join_extensions_to_electrodes" title="Permalink to this definition">¶</a></dt>
<dd></dd></dl>

</dd></dl>

</div>
</div>


          </div>
          
        </div>
      </div>
      <div class="sphinxsidebar" role="navigation" aria-label="main navigation">
        <div class="sphinxsidebarwrapper">
<h1 class="logo"><a href="../../../../../../../../index.html">fldatamigration</a></h1>








<h3>Navigation</h3>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../../../../../../../README.html">About</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../../../../README.html#prerequisites">Prerequisites</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../../../../README.html#how-to-use-it">How to use it</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../../../../api.html">API Documentation</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../../../../help.html">Need help?</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../../../../LICENSE.html">License</a></li>
</ul>

<div class="relations">
<h3>Related Topics</h3>
<ul>
  <li><a href="../../../../../../../../index.html">Documentation overview</a><ul>
  </ul></li>
</ul>
</div>
<div id="searchbox" style="display: none" role="search">
  <h3 id="searchlabel">Quick search</h3>
    <div class="searchformwrapper">
    <form class="search" action="../../../../../../../../search.html" method="get">
      <input type="text" name="q" aria-labelledby="searchlabel" />
      <input type="submit" value="Go" />
    </form>
    </div>
</div>
<script>$('#searchbox').show(0);</script>








        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="footer">
      &copy;2020, Novela.
      
      |
      Powered by <a href="http://sphinx-doc.org/">Sphinx 2.4.4</a>
      &amp; <a href="https://github.com/bitprophet/alabaster">Alabaster 0.7.12</a>
      
      |
      <a href="../../../../../../../../_sources/autoapi/fldatamigration/fl/datamigration/nwb/components/electrodes/electrode_extension_injector/index.rst.txt"
          rel="nofollow">Page source</a>
    </div>

    

    
  </body>
</html>